<h1>Listing applics</h1>

<table>
  <tr>
    <th>Message</th>
    <th>Resume</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applics.each do |applic| %>
  <tr>
    <td><%= applic.message %></td>
    <td><%= applic.resume_id %></td>
    <td><%= link_to 'Show', applic %></td>
    <td><%= link_to 'Edit', edit_applic_path(applic) %></td>
    <td><%= link_to 'Destroy', applic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Applic', new_applic_path %>
